* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #5c73e0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
}
.MyQuizApp {
  width: 360px;
  height: 580px;
  position: absolute;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
  border-radius: 30px;
  padding: 20px;
  border-bottom: 6px solid #99a7e8;
}
.MyQuizApp.hideInfo {
  opacity: 0;
  pointer-events: none;
}
.img img {
  width: 100%;
}
.text1 {
  width: 90%;
  margin: auto;
}
.text1 h3 {
  margin-top: 20px;
  margin-bottom: 14px;
}
.text1 p {
  font-size: 16px;
}
.MyBtn {
  width: 80%;
}
.MyBtn button {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 99, 71);
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 24px 0px 24px 0px;
  transition: 0.2s ease-in-out;
  bottom: 0;
  right: 0;
  position: absolute;
  border-left: 4px solid #ffab9c;
  border-top: 4px solid #ffab9c;
}
.MyBtn button:hover {
  background-color: rgb(29, 194, 194);
  border-left: 4px solid #a9d9d9;
  border-top: 4px solid #a9d9d9;
}
.RulesBox.activeInfo {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
}
.RulesBox {
  width: 360px;
  height: 580px;
  position: absolute;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
  border-radius: 30px;
  opacity: 0;
  pointer-events: none;
  padding: 20px;
  border-bottom: 6px solid #99a7e8;
}
.RulesTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  padding: 6px 6px 20px 6px;
  border-bottom: 1px solid lightgray;
  margin: 0px -20px 20px -20px;
}
.RulesList {
  width: 76%;
  margin: auto;
}
ol li {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 25px;
}
.ExitButton {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 99, 71);
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 0px 24px 0px 24px;
  transition: 0.2s ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  border-right: 4px solid #ffab9c;
  border-top: 4px solid #ffab9c;
}
.ExitButton:hover {
  background-color: #f03e3e;
  border-right: 4px solid #e69c9c;
  border-top: 4px solid #e69c9c;
}
.ContinueButton {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 99, 71);
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 24px 0px 24px 0px;
  transition: 0.2s ease-in-out;
  bottom: 0;
  right: 0;
  position: absolute;
  border-left: 4px solid #ffab9c;
  border-top: 4px solid #ffab9c;
}
.ContinueButton:hover {
  background-color: rgb(29, 194, 194);
  border-left: 4px solid #a9d9d9;
  border-top: 4px solid #a9d9d9;
}
.Questions.activeQuiz {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
}
.Questions {
  width: 360px;
  height: 580px;
  position: absolute;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
  border-radius: 30px;
  opacity: 0;
  pointer-events: none;
  padding: 6px 20px 20px 20px;
  border-bottom: 6px solid #99a7e8;
}
.QuestionsHeader {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.QuestionsHeader .title {
  font-size: 15px;
  font-weight: 600;
}
.TimeLeft {
  padding: 0px 4px 0px 8px;
}
.TimeCount {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 132px;
}
.Seconds {
  font-size: 18px;
  font-weight: 500;
  height: 26px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 26px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}
.section {
  padding: 25px 30px 20px 30px;
  min-height: 360px;
}
.text {
  font-size: 25px;
  font-weight: 600;
}
.MyOptions {
  padding: 20px 0px;
  display: block;
}
.options {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}
footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
.total_correct {
  padding-bottom: 10px;
  padding-left: 30px;
  color: grey;
}
footer button {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 99, 71);
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 24px 0px 24px 0px;
  transition: 0.2s ease-in-out;
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
  border-left: 4px solid #ffab9c;
  border-top: 4px solid #ffab9c;
}
footer .nextBtn:hover {
  background-color: rgb(29, 194, 194);
  border-left: 4px solid #a9d9d9;
  border-top: 4px solid #a9d9d9;
}
.options.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}
.options.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.options.disabled {
  pointer-events: none;
}
.Questions header .time_lines {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #007bff;
}
.result_box {
  width: 360px;
  height: 580px;
  position: absolute;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
  border-radius: 30px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 20px;
  border-bottom: 6px solid #99a7e8;
}
.ResultImg img {
  width: 100%;
  height: 170px;
  margin-bottom: 180px;
}
.complete_text {
  font-size: 20px;
  font-weight: 500;
}
.score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.score_text span p {
  padding: 0 4px;
  font-weight: 600;
}
.result_box .buttons {
  display: flex;
  margin: 20px 0px;
}
.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 24px;
  transition: all 0.3s ease;
}
.restart1 {
  background-color: tomato;
  color: #fff;
  border-left: 4px solid #ffab9c;
  border-top: 4px solid #ffab9c;
}
.restart1:hover {
  background-color: rgb(29, 194, 194);
  border-left: 4px solid #a9d9d9;
  border-top: 4px solid #a9d9d9;
}
.quit {
  background-color: tomato;
  color: #fff;
  border-left: 4px solid #ffab9c;
  border-top: 4px solid #ffab9c;
}
.quit:hover {
  background-color: #f03e3e;
}
.result_box.activeResult {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
}
